.ShowDogDetail {
    text-align: center;
    border: 1px solid lightgray;
    margin:30px;
    padding:20px;
}
.ShowDogDetail-image {
    width:200px;
    height:200px;
    border-radius: 50%;
}

li {
    list-style-type: none;
  }